* {
  background-size: cover;
  position: absolute;
}
/*---------------Background image-----------------*/
#sky-bg {
  background-image: url(cliparts/skybg.jpg);

  position: relative;
  width: 1000px;
  height: 640px;
  margin-left: 150px;
}
/*-------Race Track-------------*/
#race-track {
  background-image: url(cliparts/Track.JPG);

  width: 1000px;
  height: 300px;
  top: 400px;
}

/*------------------clouds------------------------*/

#cloud1 {
  background-image: url(cliparts/cloudss.png);

  height: 120px;
  width: 250px;
  left: 20px;
  top: 150px;
}
#cloud2 {
  background-image: url(cliparts/cloudss.png);

  height: 120px;
  width: 250px;
  left: 500px;
  top: 40px;
}
#cloud3 {
  background-image: url(cliparts/cloudss.png);

  height: 110px;
  width: 240px;
  left: 600px;
  top: 160px;
}
/* -----------trees---------- */
#tree1 {
  background-image: url(cliparts/trees.png);

  width: 150px;
  height: 130px;
  left: 850px;
  top: 300px;
}

#tree2 {
  background-image: url(cliparts/trees.png);

  width: 130px;
  height: 120px;
  left: 450px;
  top: 340px;
}
/* ------------Bushes-------------- */
#bush1 {
  background-image: url(cliparts/Bush2.png);

  width: 150px;
  height: 50px;
  left: 200px;
  top: 400px;
}
#bush2 {
  background-image: url(cliparts/Bush1.png);

  width: 150px;
  height: 50px;
  left: 650px;
  top: 400px;
}
/* ------------Carrot----------------------- */
#carrot {
  background-image: url(cliparts/carrot.png);

  width: 40px;
  height: 40px;
  left: 500px;
  top: 470px;
}
/* --------------Rabbit--------------------------- */
#rabbit {
  background-image: url(cliparts/Rabbit.png);

  width: 80px;
  height: 80px;
  left: 20px;
  top: 450px;
}
/*------------------tortoise------------------*/
#tortoise {
  background-image: url(cliparts/Tortoise.png);

  width: 65px;
  height: 50px;
  left: 20px;
  top: 540px;
}
/* ----------------button--------------------- */
button {
  position: relative;
  height: 60px;
  width: 80px;
  background-color: rgba(211, 90, 14, 0.546);
  margin-left: 150px;
  border-radius: 20px;
  margin-top: 500px;
  font-size: 30px;
}
/* -----------------flex-box----------------- */
#flex-box {
  display: flex;
}
