/*---------------Background image-----------------*/

#sky {
  background-image: url(cliparts/skybg.jpg);
  width: 1000px;
  height: 640px;
  margin-left: 200px;
  border-color: black;
  border-width: 9px;
  background-size: cover;
}
#balloon-left {
  background-image: url(cliparts/balloon.png);
  position: absolute;
  background-size: cover;
  height: 250px;
  width: 175px;
  left: 600px;
  top: 300px;
}
#happy-face {
  background-image: url(cliparts/happyFace.png);
  background-size: cover;
  position: absolute;
  height: 75px;
  width: 75px;
  left: 688px;
  top: 318px;
}
/* .clouds {
  background-image: url(cliparts/cloud.png);
  background-size: cover;
  position: absolute;
} */
.cloud1 {
  background-image: url(cliparts/cloud.png);
  background-size: cover;
  position: absolute;
  height: 150px;
  width: 290px;
  left: 300px;
  top: 100px;
}
.cloud2 {
  background-image: url(cliparts/cloud.png);
  background-size: cover;
  position: absolute;
  height: 130px;
  width: 270px;
  left: 500px;
  top: 100px;
}
