/*---------------Background image-----------------*/
#sky-bg {
  background-image: url(cliparts/skybg.jpg);
  background-size: cover;
  position: relative;
  width: 1000px;
  height: 640px;
  margin-left: 200px;
}
/*-------Race Track-------------*/
#race-track {
  background-image: url(cliparts/Track.JPG);
  width: 1000px;
  height: 300px;
  background-size: cover;
  position: absolute;
  top: 400px;
}

/*------------------clouds------------------------*/

.cloud1 {
  background-image: url(cliparts/cloudss.png);
  background-size: cover;
  position: absolute;
  height: 120px;
  width: 250px;
  left: 150px;
  top: 150px;
}
.cloud2 {
  background-image: url(cliparts/cloudss.png);
  background-size: cover;
  position: absolute;
  height: 120px;
  width: 250px;
  left: 500px;
  top: 40px;
}
.cloud3 {
  background-image: url(cliparts/cloudss.png);
  background-size: cover;
  position: absolute;
  height: 110px;
  width: 240px;
  left: 600px;
  top: 160px;
}
/* -----------trees---------- */
#tree1 {
  background-image: url(cliparts/tree.png);
  background-size: cover;
  position: absolute;
  width: 110px;
  height: 110px;
  left: 850px;
  top: 300px;
}

#tree2 {
  background-image: url(cliparts/tree.png);
  background-size: cover;
  position: absolute;
  width: 110px;
  height: 110px;
  left: 450px;
  top: 350px;
}
/* ------------Bushes-------------- */
#bush1 {
  background-image: url(cliparts/bushes.png);
  background-size: cover;
  position: absolute;
  width: 150px;
  height: 50px;
  left: 200px;
  top: 400px;
}
#bush2 {
  background-image: url(cliparts/bushes.png);
  background-size: cover;
  position: absolute;
  width: 150px;
  height: 50px;
  left: 650px;
  top: 400px;
}
/* ------------Carrot----------------------- */
#carrot {
  background-image: url(cliparts/carrot.png);
  background-size: cover;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 500px;
  top: 470px;
}
/* --------------Rabbit--------------------------- */
#rabbit {
  background-image: url(cliparts/Rabbit.png);
  background-size: cover;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50px;
  top: 450px;
}
